{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}

            <div class="form-group">
                {#{{ form_label(form.nom, {'attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}#}
                {#{{ form_row(form.nom) }}#}
                {{ form_label(form.nom) }}
                {{ form_errors(form.nom) }}
                <div class="col-md-2 col-sm-8">{{ form_widget(form.nom) }}</div>
            </div>
            <div class="form-group">
                {#{{ form_label(form.prenom, {'attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}#}
                {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>


        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </div>
</div>



{#
{{ form_widget(form) }} #}

{#{{ form_end(form) }}#}
